.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.header {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.logoContainer {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.column {
  flex: 1;
  padding: 10px;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.value {
  font-size: 16px;
  font-weight: 300;
}

.cryptoItem {
  margin-bottom: 10px;
  display: flex;
  background-color: white;
  flex-direction: column; 
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.details {
  flex: 1;
  padding: 10px;
}

.name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.li {
  list-style: none !important;
}

@media (min-width: 768px) {
  .cryptoItem {
    flex-direction: row; 
    justify-content: space-between; 
  }

  .logoContainer {
    flex-direction: row;
    align-items: center;
  }
}
